main {
    margin: 1rem;
}

header {
    color: white;
    background-color: dimgray;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}

.sec-head {
    margin-top: 2rem;
 }

.red-ink {
    background-color: red;
    color: white;
}

.calc {
    font-size: 24px;
    text-align: right;
    padding: 1rem;
}

.submit {
    display: flex;
    justify-content: flex-end;
}

.input-bar {
    font-size: 20px;
    border-color: black;
    border-width: 2px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.main-table {
    font-size: 20px;
}

#addEmployee {
    font-size: 24px;
    padding: 4px 16px;
    border-radius: 6px;
    margin: 0 1rem;
}

#errorMessage {
    font-size: 20px;
    color: red;
    display: inline-flex;
    align-items: center;
}




